<h1> New Game</h1>

<!--  --><!-- <form action="/new" method="get">
  <input type="text" name="game">
  <input type="submit" value="new!">
</form> -->

 <h3>
  <% @letters.each do |letter| %>
  <%= letter.capitalize %>
  <% end %></h3>

<p>What is the longest word you can find?</p>
<form action="/score" method="get">
  <input type="text" name="letters">
  <input type="submit" value="rake!">
</form>
